{# default_frame.twigを継承して共通のヘッダー、フッターを表示するにはdtb_page_layout に登録が必要 #}
{% extends 'default_frame.twig' %}

{% set body_class = 'postarticle_page' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <p class="text-danger">{{ hello }}</p>
            <form method="post" action="store">
                <p>タイトル</p>
                <input type="text" name="title">
                <p>内容</p>
                <textarea name="content"></textarea>
                <p>ステータス</p>
                <select name="status">
                    <option value="open">公開</option>
                    <option value="close">非公開</option>
                </select>
                <button type="submit" style="width: 300px;border: 1px solid black;">登録</button>
            </form>
        </div>
    </div>
{% endblock %}