{# default_frame.twigを継承して共通のヘッダー、フッターを表示するにはdtb_page_layout に登録が必要 #}
{% extends 'default_frame.twig' %}

{% set body_class = 'postarticle_page' %}

{% block main %}
    {{ hello }}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
{% endblock %}